* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

header {
    width: 100%;
    height: 30px;
    background-color: #1E2630;
    position: fixed;
    top: 0;
    z-index: 10;
}

.body {
    margin-top: 30px;
    height: calc(100vh - 30px);
}

.banner {
    display: flex;
    height: 300px;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: linear-gradient(to right, rgba(115, 115, 115, 0.3), rgb(168, 168, 168, 0.95), rgb(217, 217, 217)); 
    z-index: 1; 
}

.img-container {
    background-image: url(Teknik-Polinema.jpg);
    width: 900px;
    overflow: hidden;   
    object-fit: cover;
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.judul {
    width: calc(100% - 900px);
    z-index: 1;
    font-weight: 600;
    font-style: normal;
    display: flex;
    position: absolute;
    top: 115px;
    right: 2rem;
    justify-content: center;
    align-items: center;
}

.judul h1 {
    text-align: center;
    width: 417px;
    font-size: 38px;
}

.sidebar {
    position: fixed;
    width: 70px;
    background-color: #2B3643;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    transition: width .3s ease;
}

.sidebar.open {
    width: 330px;
}

.sidebar ul {
    list-style-type: none;
    width: max-content;
}

.sidebar ul a {
    text-decoration: none;
    color: white;
}

.sidebar-item {
    transition: background-color .3s ease;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar span {
    font-size: 18px;
}

.sidebar-item:hover {
    background-color: rgba(127, 134, 142, 1);
}

.sidebar-item.header:hover {
    background-color: #2B3643;
}

.sidebar-item.header {
    margin-bottom: 20px;
    margin-top: 10px;
}

.sidebar-item.header span{
    font-weight: 600;
    font-size: 20px;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-item a{
    display: flex;
    align-items: center;
}

.sidebar-item button {
    display: flex;
    align-items: center;
}

.sidebar-item i {
    font-size: 30px;
    margin: 5px 20px;
}

.sidebar-item i.dropdown-icon {
    font-size: 16px;
    margin: 8px;
    transition: transform .3s ease;
}

.dropdown-content {
    padding-left: 70px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s linear, opacity .3s linear;
}

.dropdown-content a {
    height: 40px;
}

.dropdown-content > ul > li:first-child {
    margin-top: 5px;
}

.dropdown.open .dropdown-content {
    max-height: fit-content;
    opacity: 1;
}

.dropdown.open .dropdown-icon {
    transform: rotate(-90deg);
}

.main-content {
    height: inherit;
    margin-top: 30px;
    transition: margin-left .3s ease;
}

.main-content.shrink {
    margin-left: 330px;
}