* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

header {
    width: 100%;
    height: 30px;
    background-color: #1E2630;
    position: fixed;
    top: 0;
    z-index: 10;
}

.body {
    margin-top: 30px;
    height: calc(100vh - 30px);
}

.banner {
    display: flex;
    min-height: 200px;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: linear-gradient(to right, rgba(115, 115, 115, 0.3), rgb(168, 168, 168, 0.95), rgb(217, 217, 217)); 
    z-index: 1; 
}

#img-container1 {
    background-image: url(Teknik-Polinema.jpg);
    width: 900px;
    overflow: hidden;   
    object-fit: cover;
}

#img-container1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.judul {
    width: calc(100% - 900px);
    z-index: 1;
    font-weight: 600;
    font-style: normal;
    display: flex;
    margin-right: 75px;
    justify-content: center;
    align-items: center;
}

.judul h1 {
    text-align: center;
    width: 417px;
    font-size: 38px;
}

.sidebar {
    position: fixed;
    width: 70px;
    background-color: #2B3643;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    transition: width .3s ease;
}

.sidebar.open {
    width: 330px;
}

.sidebar ul {
    list-style-type: none;
    width: max-content;
}

.sidebar ul a {
    text-decoration: none;
    color: white;
}

.sidebar-item {
    transition: background-color .3s ease;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar span {
    font-size: 18px;
}

.sidebar-item:hover {
    background-color: rgba(127, 134, 142, 1);
}

.sidebar-item.header:hover {
    background-color: #2B3643;
}

.sidebar-item.header {
    margin-bottom: 20px;
    margin-top: 10px;
}

.sidebar-item.header span{
    font-weight: 600;
    font-size: 20px;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-item a{
    display: flex;
    align-items: center;
}

.sidebar-item button {
    display: flex;
    align-items: center;
}

.sidebar-item i {
    font-size: 30px;
    margin: 5px 20px;
}

.sidebar-item i.dropdown-icon {
    font-size: 16px;
    margin: 8px;
    transition: transform .3s ease;
}

.dropdown-content {
    padding-left: 70px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s linear, opacity .3s linear;
}

.dropdown-content a {
    height: 40px;
}

.dropdown-content > ul > li:first-child {
    margin-top: 5px;
}

.dropdown.open .dropdown-content {
    max-height: fit-content;
    opacity: 1;
}

.dropdown.open .dropdown-icon {
    transform: rotate(-90deg);
}

.main-content {
    height: inherit;
    margin-top: 30px;
    transition: margin-left .3s ease;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.main-content.shrink {
    margin-left: 330px;
}

.card-container {
    padding: 25px 20px;
}

.card-container h3 {
    font-weight: 600;
    font-size: 25px;
    color: #14AE5C;
    padding: 10px;
}

#hr-1 {
    margin: 0px 10px 20px 10px;
    opacity: .5;
}

.profile {
    display: flex;
    gap: 20px;
    background: #E6ECEF;
    align-self: center;
    padding: 20px;
}

#img-container2 {
    height: 300px;
    width: 215px;
    display: flex;
}

#img-container2 img {
    width: inherit;
    height: inherit;

}

#credential h4 {
    font-size: 30px;
}

#credential #h4-2 {
    color: #172C76;
    margin-bottom: 5px;
}

#hr-2 {
    margin-bottom: 10px;
}

#credential h5 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}

.card-container .request {
    background: #B6CCD7;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}

.request button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    align-items: center;
    display: flex;
}

.request .riwayat-btn.open {
    i.dropdown-icon {
        transform: rotate(-90deg);
    }
}

.request i {
    font-size: 20px;
    margin-left: 5px;
    transition: transform .3s ease;
}

.request .verifikasi {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s linear, opacity .3s linear;
}

.request .verifikasi.open {
    max-height: fit-content;
    opacity: 1;
}