* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

.body {
    margin-top: 40px;
    height: calc(100vh - 40px);
}

/* copy sampai sini */
/* ---------------- */

.card-container {
    padding: 25px 20px;
}

.card-container h3 {
    font-weight: 300;
    font-size: 25px;
    color: #14AE5C;
    padding: 10px;
    margin-top: 10px;
}

#hr-1 {
    margin: 0px 10px 20px 10px;
    opacity: .5;
}

.profile {
    display: flex;
    gap: 20px;
    background: #E6ECEF;
    align-self: center;
    padding: 20px;
}

#img-container2 {
    height: 300px;
    width: 215px;
    display: flex;
}

#img-container2 img {
    width: inherit;
    height: inherit;

}

#credential h4 {
    font-size: 30px;
}

#credential #h4-2 {
    color: rgb(23, 44, 118);
    margin-bottom: 5px;
    font-weight: 500;
}

#hr-2 {
    margin: 0 80px 10px 0;
}

#credential h5 {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 500;
}

.card-container .request {
    background: #B6CCD7;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}

.card-container #hr-3 {
    margin: 0 10px 20px 10px;
    opacity: .5;
}

.request button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    align-items: center;
    display: flex;
}

.request .riwayat-btn span:hover {
    text-decoration: underline;
}

.request .riwayat-btn.open {
    i.dropdown-icon {
        transform: rotate(-90deg);
    }
}

.request i {
    font-size: 20px;
    margin-left: 5px;
    transition: transform .3s ease;
}

.request .verifikasi {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s linear, opacity .3s linear;
}

.request .verifikasi.open {
    max-height: fit-content;
    opacity: 1;
    padding: 0 8px;
}

table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

table th {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 14px;
    padding: 3px 7px;
}