* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

.body {
    margin-top: 50px;
    height: calc(100vh - 50px);
}

/* main content */

.form-container {
    padding: 25px;
}

.form {
    display: grid;
}

.form-container h3, h4 {
    text-align: center;
}

.form-container h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-container h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.form {
    background: rgba(230, 236, 239, 1);
    padding: 30px;
    margin-top: 30px;
}

.form h4 {
    color: #14AE5C;
    font-size: 25px;
    font-weight: 400;
    margin-top: 40px;
}

.form form {
    display: grid;
}

.form button {
    padding: 7px 18px;
    font-size: 15px;
    color: white;
    border-radius: 8px;
    border: none;
}

.upload-file {
    display: flex;
    margin: 5px 0 20px 0;
    gap: 10px;
    align-items: center;
}

.upload-file span {
    font-weight: 400;
    font-size: 15px;
}

input[type="file"] {
    display: none;
}

.upload-btn {
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 5px 15px;
    justify-self: left;
    border-radius: 8px;
    transition: background-color .3s ease;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: rgba(44, 44, 44, .8);
}

form #submit-btn {
    margin-top: 10px;
    justify-self: right;
    background-color: rgb(27, 188, 155);
    padding: 7px 25px;
    transition: background-color .3s ease;
}

form #submit-btn:hover {
    background-color: rgba(27, 188, 155, .8);
}
