* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

.body {
    margin-top: 50px;
    height: calc(100vh - 50px);
}

/* main content */

.form-container {
    padding: 25px;
}

.form-container h3 {
    font-weight: 300;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    color: #14AE5C;

}

.form-container #hr-1 {
    margin: 0 10px 20px 10px;
    opacity: .5px;
}

.form-verifikasi {
    background-color: rgba(230, 236, 239, 1);
    padding: 30px;
}

.form-verifikasi h4 {
    text-align: center;
    color: #14AE5C;
    font-size: 25px;
    font-weight: 400;
    margin-top: 40px;
}

.form-verifikasi label {
    font-size: 18px;
}

.box {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.box h5 {
    font-weight: 400;
    font-size: 16px;
}

.download-btn {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    margin-top: 5px;
    align-items: center;
}

.download-btn a {
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color .3s ease;
}

.download-btn a:hover {
    background-color: rgba(44, 44, 44, .8);
}

.form-verifikasi hr {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* form-verif */

.form-verif .input{
    display: flex;
    flex-direction: column;
}

.input input {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.status-verifikasi {
    justify-content: right;
    display: flex;
    gap: 10px;
}

.status-verifikasi button {
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
}

.status-verifikasi #tolak {
    background-color: rgba(248, 32, 32, 1);
    color: white;
    font-size: 16px;
    transition: background-color .3s ease;
}

.status-verifikasi #tolak:hover {
    background-color: rgba(248, 32, 32, .8);
}

.status-verifikasi #setuju {
    background-color: rgba(27, 188, 155, 1);
    color: white;
    font-size: 16px;
    transition: background-color .3s ease;
}

.status-verifikasi #setuju:hover {
    background-color: rgba(27, 188, 155, .8);
}