* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

.body {
    margin-top: 50px;
    height: calc(100vh - 50px);
}

.card-container {
    padding: 25px 20px;
}

.card-container h3 {
    font-weight: 300;
    font-size: 25px;
    color: #14AE5C;
    padding: 0 10px;
    margin-top: 10px;
}

.card-container h4 {
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px 10px 10px;
    
}

.card-container #uname {
    color: rgba(23, 44, 118, 1);
}

#hr-1 {
    margin: 0px 10px 20px 10px;
    opacity: .3;
}

.table {
    border: 1px solid rgba(56, 172, 255, 1);
}

.table-header {
    background-color: rgba(56, 172, 255, 1);
    padding: 20px 25px;
}

.table-header h4 {
    font-size: 25px;
    padding: 0;
    font-weight: 600;
    margin: 0;
}

.table-content {
    padding: 20px;
}

.table-content button {
    padding: 3px 15px 3px 0;
    background-color: rgb(27, 188, 155);
    border: none;
    margin-bottom: 15px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.table-content button:hover {
    background-color: rgba(27, 188, 155, .8);
}

.form {
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 20px;
}

.form-group input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
}

.form-group input.empty-input {
    border-color: rgb(213, 81, 132);
}

.form-group select {
    padding: 8px;
    margin-bottom: 10px;
}

table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

table th {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 7px 7px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 1);
}

table td {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 15px 7px;
    font-size: 14px;
    font-weight: 400;
}

table td.delete-col , table td.update-col {
    width: 100px;
}

table .update-btn {
    background-color: #FEB74B;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    justify-self: center;
    margin: 0 10px;
    transition: background-color .3s ease;
}

table .update-btn:hover {
    background-color: rgba(254, 183, 75, .7);
}

table .delete-btn {
    background-color: rgba(248, 32, 32, 1);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    justify-self: center;
    margin: 0 10px;
    transition: background-color .3s ease;
}

table .delete-btn:hover {
    background-color: rgba(248, 32, 32, .7);
}