* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

.body {
    margin-top: 50px;
    height: calc(100vh - 50px);
}

/* copy sampai sini */
/* ---------------- */

.card-container {
    padding: 25px 20px;
}

.card-container h3 {
    font-weight: 300;
    font-size: 25px;
    color: #14AE5C;
    padding: 10px;
    margin-top: 10px;
}

#hr-1 {
    margin: 0px 10px 20px 10px;
    opacity: .5;
}

.profile {
    display: flex;
    gap: 20px;
    background: #E6ECEF;
    align-self: center;
    padding: 20px;
}

#img-container2 {
    height: 300px;
    width: 215px;
    display: flex;
}

#img-container2 img {
    width: inherit;
    height: inherit;

}

#credential h4 {
    font-size: 30px;
}

#credential #h4-2 {
    color: rgb(23, 44, 118);
    margin-bottom: 5px;
    font-weight: 500;
}

#hr-2 {
    margin: 0 0 10px 0;
}

#credential h5 {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 500;
}

#credential .sub-credential {
    display: flex;
    gap: 10px;
}

#credential .credential-value {
    font-weight: 400;
}

.card-container .request {
    background: #B6CCD7;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}

.card-container #hr-3 {
    margin: 0 10px 20px 10px;
    opacity: .5;
}

.request button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    align-items: center;
    display: flex;
}

.request .riwayat-btn span:hover {
    text-decoration: underline;
}

.request .riwayat-btn.open {
    i.dropdown-icon {
        transform: rotate(-90deg);
    }
}

.request i {
    font-size: 20px;
    margin-left: 5px;
    transition: transform .3s ease;
}

.request .verifikasi {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s linear, opacity .3s linear;
}

.request .verifikasi.open {
    max-height: fit-content;
    opacity: 1;
    padding: 0 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: none;
}

table th {
    font-size: 16px;
    padding: 5px 7px;
}

table td {
    font-size: 14px;
    padding: 3px 7px;
}

table th, table td {
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #3a3e42;
    font-weight: 500;

    letter-spacing: 0.5px;
    text-align: left;
}

table th:nth-child(1), table td:nth-child(1) { width: 15%; } /* Nama Admin */
table th:nth-child(2), table td:nth-child(2) { width: 20%; } /* Email */
table th:nth-child(3), table td:nth-child(3) { width: 15%; } /* No Wa */
table th:nth-child(4), table td:nth-child(4) { width: 10%; } /* Jabatan */
table th:nth-child(5), table td:nth-child(5) { width: 15%; } /* Status Verifikasi */
table th:nth-child(6), table td:nth-child(6) { width: 18%; } /* Catatan */
table th:nth-child(7), table td:nth-child(7) { width: 7%;  } /* Update */

table tr {
    transition: background-color 0.3s ease;
}

table tr:nth-child(even) {
    background-color: #f2f4f6;
}

table tr:hover {
    background-color: #e9ecef;
}

table td:last-child a {
    display: inline-block;
    padding: 3px 10px;
    background-color: rgba(254, 183, 75, 1);
    color: white;
    text-decoration: none;
    border-radius: 4px;;
    transition: background-color 0.3s ease;
}

table td:last-child a:hover {
    background-color: rgba(254, 183, 75, .8);
    cursor: pointer;
}