* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

.body {
    margin-top: 50px;
    height: calc(100vh - 50px);
}

/* main content */

.card-container {
    padding: 25px 20px;
}

.card-container2 {
    padding: 25px 20px;
}

.card-container h3, .card-container2 h3 {
    font-weight: 300;
    font-size: 25px;
    color: #14AE5C;
    padding: 10px;
    margin-top: 10px;
}

.hr-1 {
    margin: 0px 10px 20px 10px;
    opacity: .5;
}

.table {
    border: 1px solid rgba(56, 172, 255, 1);
}

.table-header {
    background-color: rgba(56, 172, 255, 1);
    padding: 20px 25px;
}

.table-header h4 {
    font-size: 25px;
    padding: 0;
    font-weight: 600;
    margin: 0;
}

.table-content {
    padding: 20px;
}

table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

table th {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 1);
} 

table td {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 7px ;
}

table td a {
    padding: 5px 20px;
    background-color: rgba(254, 183, 75, 1);
    color: black;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-self: center;
    transition: background-color .3s ease;
}

table td a:hover {
    background-color: rgba(254, 183, 75, .7);
}

table #check-form {
    width: 300px;
}