* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

.body {
    margin-top: 40px;
    height: calc(100vh - 40px);
}

/* main content */

.form-container {
    padding: 25px;
}

.form {
    display: grid;
}

.form-container h3, h4 {
    text-align: center;
}

.form-container h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-container h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.informasi-admin h4 {
    text-align: left;
    color: #14AE5C;
    margin-bottom: 0;
}

.informasi-admin h5 {
    font-weight: 400;
    font-size: 14px;
}

.informasi-admin hr {
    margin: 0 0 15px 0;
    opacity: .25;
}

.form-container .informasi-admin {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.form {
    background: rgba(230, 236, 239, 1);
    padding: 30px;
    margin-top: 30px;
}

.form h4 {
    color: #14AE5C;
    font-size: 25px;
    font-weight: 400;
}

.form form {
    display: grid;
}

form input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

form #fnumber {
    outline: 0;
    border: 2px solid black;
    transition: border-color 0.3s ease;
}

form #fnumber:not(:focus):not(:placeholder-shown) {
    border-color: transparent;
}

form #fnumber:valid {
    border-color: #14AE5C;
}

form #fnumber:invalid {
    border-color: #ae1414;
}

.form-container .update-btn {
    justify-self: right;
    background-color: rgba(254, 183, 75, 1);
    transition: background-color .3s ease;
    margin-bottom: 0;
}

.update-btn:hover {
    background-color: rgba(254, 183, 75, .8);
}

.form button {
    padding: 7px 18px;
    font-size: 15px;
    color: white;
    border-radius: 8px;
    border: none;
}

input[type="file"] {
    display: none;
}

.upload-btn {
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 7px 15px;
    justify-self: left;
    border-radius: 8px;
    margin: 5px 0 20px 0;
    transition: background-color .3s ease;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: rgba(44, 44, 44, .8);
}

form #submit-btn {
    margin-top: 10px;
    justify-self: right;
    background-color: rgb(27, 188, 155);
    padding: 7px 25px;
    transition: background-color .3s ease;
}

form #submit-btn:hover {
    background-color: rgba(27, 188, 155, .8);
}
