* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    line-height: 2rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: block;
}

.body {
    margin-top: 40px;
    height: calc(100vh - 40px);
}

/* akhir sidebar */
/* main content */

.card-container {
    padding: 25px 20px;
}

.card-container h3 {
    font-weight: 300;
    font-size: 25px;
    color: #14AE5C;
    padding: 10px;
    margin-top: 10px;
}

#hr-1 {
    margin: 0px 10px 20px 10px;
    opacity: .5;
}

.profile {
    display: flex;
    gap: 20px;
    background: #E6ECEF;
    align-self: center;
    padding: 20px;
}

#img-container2 {
    height: 300px;
    width: 215px;
    display: flex;
}

#img-container2 img {
    width: inherit;
    height: inherit;

}

.card-container {
    padding: 25px 20px;
}

.card-container h3 {
    font-weight: 300;
    font-size: 25px;
    color: #14AE5C;
    padding: 10px;
    margin-top: 10px;
}

#hr-1 {
    margin: 0px 10px 20px 10px;
    opacity: .5;
}

.profile {
    display: flex;
    gap: 20px;
    background: #E6ECEF;
    align-self: center;
    padding: 20px;
}

#img-container2 {
    height: 300px;
    width: 215px;
    display: flex;
}

#img-container2 img {
    width: inherit;
    height: inherit;

}

#credential h4 {
    font-size: 30px;
}

#credential #h4-2 {
    color: #172C76;
    margin-bottom: 5px;
    font-weight: 500;
}

#hr-2 {
    margin: 0 80px 10px 0;
}

#credential h5 {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 500;
}